<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-4 columns text-left">negative</div>
      <div class="small-4 columns text-center">neutral</div>
      <div class="small-4 columns text-right">positive</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered columns">
    <div class="range-slider" data-slider data-options="start: 0; end: 10; display_selector: #sliderOutput">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
      <input type="hidden" name="response[rating]" id="response_rating">
    </div>
  </div>
</div>
