@import "dataTables/jquery.dataTables";
@import "dataTables/jquery.dataTables.foundation";
@import "datatables_ext";
@import "foundation_and_overrides";
@import "card";
@import url(https://fonts.googleapis.com/css?family=Quicksand|Raleway);

body {
  background-color: black;
}

.top-bar { background-color: transparent; }
.top-bar-section ul li { background-color: transparent; }

.center-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.master-overlay {
  background-color: rgba(41, 88, 220, 0.41);
  border-radius: 50%;
  display: flex;
  height: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2vw;
  position: relative;
  width: 600px;
}

.submit-query {
  margin: 0;
}

.enter-question {
  background-color: #000DBA;
  border-color: #007095;
  color: #6FFDFF;
  padding: 0;
}

.main-content-container {
  padding: 0 15px;
}

.background {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background: url(asset-path("footer-eight.jpg")) no-repeat;
  background-size: contain;
  background-position: center bottom;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  overflow: auto;
}

.frontpage-form {
  input[type=text] {
    background: transparent;
    border: none;
    border-radius: 1000px 0 0 1000px;
    color: rgba(101, 247, 255, 0.75);
    height: 60px;
    line-height: 60px;
    padding: 0;
  }

  input[type=submit], .button {
    background-color: #000DBA;
    border-color: #007095;
    border-radius: 1000px;
    color: #6FFDFF;
    font-size: 1.8rem;
    height: 60px;
    line-height: 60px;
    padding: 0;
  }

  .postfix {
    font-size: 1rem;
    height: 60px;
    line-height: 60px;
  }
}

.choice-row {
  input[type=text] {
    border: none;
    border-radius: 0;
    height: 60px;
    line-height: 60px;
    padding: 0;
  }

  .add-choice {
    background-color: #000DBA;
    border-color: #007095;
    border-radius: 1000px 0 0 1000px;
    color: #6FFDFF;
    font-size: 1rem;
    height: 60px;
    line-height: 60px;
    padding: 0;

    .success {
      &:hover,
      &:active,
      &:focus {
        background-color: #25D3F0;
      }
    }
  }

  .remove-choice {
    border-radius: 0 1000px 1000px 0;
    padding: 0;
    height: 60px;
    line-height: 60px;
  }
}

.form-floater {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 45vw;
}

.init-choice-row {
  display: none;
  .button.postfix.round.add-choice.success {
    &:hover,
    &:active,
    &:focus {
      background-color: #25D3F0;
    }
  }
}

.search-box {
  line-height: 1;
  padding: 0;
}

.form-bars {
  padding: 0 15px;
}
